@import '../../variables';
// TODO: Refactor
.icon-list {
  text-align: center;

  &.icon-list-dark {
    background-color: $primaryColor;

    .icon-list-item {
      color: $primaryColor_light;
    }
  }

  &.icon-list-light {
    background-color: $primaryColor_light;

    .icon-list-item {
      color: $primaryColor;
    }
  }

  .icon-list-item {
    display: inline-block;
    margin: 24px;
    font-size: 60px;
  }

  // noscript - javascript off
  &.icon-list-small {
    .icon-list-item em {
      font-size: 30px;
      font-family: $primaryFont;
      font-style: normal;
    }
  }
}

.mobile,
.tablet {
  .icon-list {
    padding: 20px 0;

    .icon-list-item {
      font-size: 30px;
      margin: 12px 20px;
    }
  }
}
