@import '../../variables';

.Homepage__Page {
  .IconList {
    text-align: center;
    background-color: $primaryColor_light;

    .IconList__item {
      display: inline-block;
      margin: 24px;
      font-size: 60px;
        color: $primaryColor;
    }
  }

  .mobile,
  .tablet {
    .IconList {
      padding: 20px 0;

      .IconList__item {
        font-size: 30px;
        margin: 12px 20px;
      }
    }
  }

}
