@import '../../variables.scss';

.navbar__component-compressed {
  position: relative;
  text-align: right;

  .navbar__menu-btn {
    width: 46px;
    margin-top: 22px;
    display: inline-block;
    cursor: pointer;
  }

  .fa-ellipsis-v,
  .fa-ellipsis-h {
    margin-right: 22px;
  }

  sup {
    font-size: 8px;
    color: #ed6b5a;
    font-weight: bold;
    margin-left: 5px;
    vertical-align: middle;
  }
}

.navbar__component-compressed-logo-wrapper {
    padding: 12px;
    float: left;
}

.navbar__component-compressed-menu-wrap {
  position: absolute;
  top: 0;
  right: 0;
  padding: 0;
  z-index: 999;
}

.navbar__component-compressed-menu-title {
  display: inline-block;
}

.navbar__component-compressed-menu {
  cursor: pointer;

  .navbar__component-list {
    background-color: #fff;
    display: block;
    margin: 18px 0 0;
    width: 100%;
    box-sizing: border-box;

    li {
      display: block;
      text-align: left;
      margin: 0;
      padding: 0;
    }
  }

  .navbar__link {
    padding: 12px 24px;
    display: block;

    &:hover {
      background-color: $secondaryColor;
      color: $secondaryColor_light;
      text-decoration: none;
    }
  }
}
