{
  "env": {
    "test": {
      "presets": [
        [
          "@babel/env",
          { "targets": { "esmodules": false }, "modules": false }
        ],
        "@babel/react",
        "@babel/preset-flow"
      ],
      "plugins": [
        "transform-es2015-modules-commonjs",
        "@babel/plugin-proposal-class-properties",
        "@loadable/babel-plugin",
        "transform-flow-strip-types"
      ]
    }
  }
}
