{
  "parser": "babel-eslint",
  "parserOptions": {
        "ecmaVersion": 6,
        "sourceType": "module",
        "ecmaFeatures": {
            "jsx": true
        },
        "allowImportExportEverywhere": true
    },
  "globals": {
    "require": "readonly",
    "expect": "readonly",
    "describe": "readonly",
    "it": "readonly",
    "process": "readonly",
    "S3_URL": "readonly",
    "window": "readonly",
    "afterAll": "readonly",
    "__dirname": "readonly",
    "shallow": "readonly",
    "mount": "readonly",
    "document": "readonly",
    "module": "readonly",
    "BREAKPOINTS": "readonly"
  },
  "rules": {
    "semi": 2,
    "max-len": [ WARN, 132 ],
    "func-style": 2,
    "no-undef": 2,
    "no-magic-numbers": 1,

    "arrow-parens": [ ERROR, "always" ],
    "arrow-spacing": [ ERROR, { "before": true, "after": true }],
    "constructor-super": ERROR,
    "generator-star-spacing": [ ERROR, "before" ],
    "no-class-assign": ERROR,
    "no-const-assign": ERROR,
    "no-dupe-class-members": ERROR,
    "no-this-before-super": ERROR,
    "no-var": 2,
    "object-shorthand": [ ERROR, "never" ],
    "prefer-arrow-callback": WARN,
    "prefer-spread": WARN,
    "prefer-template": WARN,
    "require-yield": ERROR,
  }
}
