@import 'variables.scss';

.ReferenceComponent {
  border-left: solid 3px #e7e7e7;
  display: block;
  width: 100%;
}

.ReferenceComponent__content {
  padding-left: 30px;
}

.ReferenceComponent__quote {
  text-align: justify;
}

.ReferenceComponent__name {
  float: right;
}

.ReferenceComponent__image {
  float: left;
  border-radius: 100px;
  margin: 0 12px 12px 0;
}

.ReferenceComponent__firstLine {
  font-size: 20px;
  line-height: 26px;
  margin: 0 0 6px;
  padding: 0;
}

.ReferenceComponent__p {
  line-height: 26px;
  margin: 0;
  padding: 0;
}

.ReferenceComponent.small {
  border-left: 0;
  max-width: 100%;
  width: 300px;

  .ReferenceComponent__name {
    float: none;
    font-size: 14px;
  }

  .ReferenceComponent__firstLine {
    font-size: 16px;
  }

  .ReferenceComponent__p {
    font-size: 14px;
  }
}
