@import '../../variables.scss';

.article__component {
  padding: 24px 0;

  .article__component-h2 {
    position: sticky;
    top: 0;
    padding: 36px 2px;
    background-color: $white;
    z-index: $top_max;

    &:before {
      content: ' ';
      position: absolute;
      left: 0;
      top: -3px;
      height: 100%;
      width: 100%;
      display: block;
      z-index: -1;
      opacity: .1;
      background: $primaryColor;
      background: linear-gradient(270deg, $primaryColor 0%, rgba(17,163,221,0) 80%);
    }
  }

  details {
    margin: 0 0 12px;
    outline: none;
  }

  summary {
    outline: none;
    background-color: $lightGray;
    cursor: pointer;
    padding: 6px 12px;
  }
}
