@import '../../variables.scss';

.article__component {
  padding: 24px 0;

  .article__component-h2 {
    position: sticky;
    top: 0;
    padding: 36px 2px;
    background-color: $white;
    z-index: $top_max;
  }

  details {
    margin: 0 0 12px;
    outline: none;
  }

  summary {
    outline: none;
    background-color: $lightGray;
    cursor: pointer;
    padding: 6px 12px;
  }
}

.mobile {
  .article__component-h2 {
    font-size: 18px;
    line-height: 26px;
    text-align: center;
    padding: 12px;
    border-bottom: solid 1px $lightGray;
  }
}
