@import '../../variables.scss';

.article__component {
  padding: 24px 0;

  .article__component-content {
    display: block;
    max-width: $bodyMaxWidth;
    margin: 0 auto;
    padding-top: 36px;
  }

  .article__component-h2 {
    padding: 12px 2px 36px;
    background-color: $white;
    margin-top: 0;
    z-index: $top_belowMax;
    position: sticky;
    
    // FIXME: This should be programatic
    top: 40px;
  }

  details {
    margin: 0 0 12px;
    outline: none;
  }

  summary {
    outline: none;
    background-color: $lightGray;
    cursor: pointer;
    padding: 6px 12px;
  }

  p {
    text-align: justify;
  }
}

.mobile {
  .article__component-h2 {
    font-size: 24px;
    line-height: 30px;
    text-align: left;
    padding: 12px 0;
  }
}
