@import '../../../../src/public/variables.scss';

.Tag {
  background-color: lighten($lightGray, 5%);
  padding: 12px;
  border-radius: 2px;
  display: inline-block;
}

.Tag__Icon {
  padding-right: 10px;
  font-size: 10px;
  vertical-align: middle;
}

.Tag.Small {
  padding: 1px 8px;
  font-size: 14px;
}
