@import '../../../../src/public/variables.scss';

.ArticleComponent {
  padding: 24px 0;

  .ArticleComponent__content {
    display: block;
    max-width: $bodyMaxWidth;
    margin: 0 auto;
    padding-top: 36px;
  }

  .ArticleComponent__h2 {
    padding: 12px 2px 36px;
    background-color: $white;
    margin-top: 0;
    z-index: $top_belowMax;
    position: sticky;
    top: 0;
  }
}
