@mixin code {
  display: inline-block;
  background-color: #f4f4f4;
  padding: 0 2px;
  font-family: monospace;
  border: solid 1px #d4d4d4;
  line-height: 20px;
}

.LayoutDecorator {
  padding: 24px;

  .LayoutDecorator__content {
    margin: 36px 0;
    background-color: #fff;
    padding: 12px;
  }

  .LayoutDecorator__sourceDescription {
    margin: 0 0 12px;
    code {
      @include code;
    }
  }

  .LayoutDecorator__source {
    font-family: "Courier", sans-serif;
  }
}

// MARKDOWN STYLING
.LayoutDecorator__description {
  h1 {
    border-bottom: solid 1px #000;
  }

  pre code {
    @include code;
    padding: 12px;
  }

  $tableBorderColor: #a7a7a7;
  $tableHeadBgColor: #d4d4d4;

  table {
    width: 100%;
    text-align: left;
    font-size: 14px;
    border: solid 1px $tableBorderColor;
    background-color: #fff;
    margin: 12px 0;
  }

  td,
  th {
    padding: 6px;
  }

  td:first-child {
    font-weight: bold;
    font-family: "Courier", sans-serif;
  }

  th:nth-child(3),
  td:nth-child(3) {
    max-width: 200px;
  }

  td:nth-child(4) {
    color: #f00;
    font-family: "Courier", sans-serif;
  }

  thead {
    background-color: $tableHeadBgColor;
  }

  tr {
    border-bottom: solid 1px $tableBorderColor;
  }

  tbody tr:last-child {
    border-bottom: 0;
  }
}


@keyframes FadeOut {
  0% {
    opacity: 1;
  }

  19% {
    opacity: 1;
  }

  20% {
    opacity: 0;
  }

  100% {
    opacity: 0;
  }
}

@keyframes ComeIn {
  0% {
    opacity: 0;
  }

  19% {
    opacity: 0;
  }

  20% {
    opacity: 1;
  }

  100% {
    opacity: 1;
  }
}

.transition-children {
  overflow: hidden;
  position: relative;

  * {
    position: absolute;
    top: 0;
    left: 0;
  }
}

.transition-children img:first-child {
    opacity: 1;
    z-index: +50;
    animation: FadeOut 6s infinite;
    animation-fill-mode: both;
    animation-delay: 3s;
}

.transition-children img:nth-child(2) {
    opacity: 0;
    z-index: 0;
    animation: ComIn 6s infinite;
    animation-fill-mode: both;
    animation-delay: 3s;
}
