// MOBILE FIRST
@import 'variables.scss';

.NavbarComponent {
  background-color: #fff;
  z-index: $top_max;
  position: sticky;
  top: 0;
}

.NavbarComponent__title {
  font-family: $secondaryFont;
}

.NavbarComponent__wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 12px;
}

.NavbarComponent__logo-wrapper {
  display: flex;
  align-self: flex-start;
  align-items: center;

  .Logo__Link {
    display: inherit;
  }
}

.NavbarComponent__links-list {
  position: absolute;
  right: 0;
  background-color: #fff;
  z-index: $top_max;
  transform: scaleY(0);
  transform-origin: top;
  transition: transform ease .2s;

  // TODO: This should be dynamic/programatic
  top: 40px;

  &.open {
    transform: scaleY(1);
  }
}

.NavbarComponent__link {
  display: inline-block;
  padding: 6px 12px;
  color: $bodyTextColor;
  width: 100%;
  box-sizing: border-box;

  &.active {
    color: $primaryColor;
  }

  &:hover {
    background-color: $secondaryColor_light;
  }
}

.NavbarComponent__IconWrap {
  display: inline-block;
  width: 28px;
  text-align: left;
}

.NavbarComponent__menu {
  cursor: pointer;
}

.NavbarComponent__menu-btn {
  display: inline-block;
  width: 30px;
  text-align: center;
}

.NavbarComponent__menu-title {
  vertical-align: middle;
  font-size: 12px;
}

.NavbarComponent.desktop {
  .NavbarComponent__menu-title {
    font-size: 16px;
  }
}
