{
  "presets": [
    [
      "@babel/env",
      { "targets": { "esmodules": false }, "modules": false }
    ],
     "@babel/react"
  ],
  "plugins": [
    "transform-es2015-modules-commonjs",
    "@babel/plugin-proposal-class-properties"
  ]
}
