@import './variables.scss';

body {
  font-family: $primaryFont;
  font-size: 16px;
  line-height: 28px;
}

li,
div {
  box-sizing: border-box;
}

section {
  padding: 24px;
}

strong {
  font-weight: bold;

  &.alt {
    cursor: help;
    border-bottom: dotted 2px $primaryColor;
  }
}

button {
  border: 0;
}

em {
  &.alt {
    border-bottom: dotted 2px $primaryColor;
  }
}

em {
  font-style: italic;
}

a {
  text-decoration: none;
  color: $linkColor;

  &.disabled {
    color: $black;
  }
}

small {
  font-size: 10px;
}

h1 {
  font-size: 42px;
  font-family: $secondaryFont;
  font-weight: normal;
  padding-bottom: 12px;
  margin: 24px 0;
}

h2 {
  font-size: 26px;
  font-family: $secondaryFont;
  padding-bottom: 8px;
  margin: 24px 0 12px;
}

h3 {
  font-size: 22px;
  font-family: $secondaryFont;
  font-weight: bold;
  color: $primaryColor;
  padding-bottom: 8px;
  margin: 24px 0 12px;
}

h4 {
  font-size: 18px;
  font-family: $primaryFont;
  font-weight: bold;
  margin: 18px 0 10px;
}

.dropcap {
  display: block;

  &:first-child:first-letter {
    color: $primaryColor;
    font-family: $secondaryFont;
    float: left;
    font-family: Georgia;
    font-size: 75px;
    line-height: 60px;
    padding-top: 4px;
    padding-right: 8px;
    padding-left: 3px;
  }
}

.body-font {
  font-size: 16px;
  font-weight: normal;
  font-family: $primaryFont;
}

.skeleton {
  display: block;

  .bg-light {
    background-color: $lightGray;
  }
}

.vertical-align-middle {
  display: inline-block;
  vertical-align: middle;
}

.text-align-right {
  text-align: right;
}

.text-align-center {
  text-align: center;
}

.margin-right-med {
  margin-right: 6px;
}

.margin-right-sm {
  margin-right: 2px;
}

.margin-right-lg {
  margin-right: 12px;
}

.margin-right-xl {
  margin-right: 24px;
}

.margin-left-med {
  margin-left: 6px;
}

.margin-left-sm {
  margin-left: 2px;
}

.margin-left-lg {
  margin-left: 12px;
}

.margin-left-xl {
  margin-left: 24px;
}

.margin-bottom-med {
  margin-bottom: 6px;
}

.margin-bottom-sm {
  margin-bottom: 2px;
}

.margin-bottom-lg {
  margin-bottom: 12px;
}

.margin-bottom-xl {
  margin-bottom: 24px;
}

.padding-right-med {
  padding-right: 6px;
}

.padding-right-sm {
  padding-right: 2px;
}

.padding-right-lg {
  padding-right: 12px;
}

.padding-right-xl {
  padding-right: 24px;
}

.padding-left-med {
  padding-left: 6px;
}

.padding-left-sm {
  padding-left: 2px;
}

.padding-left-lg {
  padding-left: 12px;
}

.padding-left-xl {
  padding-left: 24px;
}

.bg-light {
  background-color: $lightGray;
}

.border-b-light {
  border-bottom: solid 1px $lightGray;
}

.border-light {
  border-bottom: solid 1px $lightGray;
}

.container-fh {
  min-height: 100vh;
}

.btn-link-full {
  background-color: $linkColor;
  padding: 12px 24px;
  font-size: 16px;
  color: $linkColorText;
}

.bulleted-list {
  box-sizing: border-box;
  margin: 12px 0;
  list-style: circle;
  padding-left: 32px;
}

.bulleted-list-item {
  margin-bottom: 6px;
}

.intro {
  border-left: solid 3px $lightGray;
  font-size: 16px;
  line-height: 32px;
  padding-left: 24px;
  text-align: justify;
}

.tag-list {
  list-style: none;

  .tag-list-item {
    display: inline-block;
    margin: 3px;
    background-color: lighten($lightGray, 5%);
    padding: 3px 12px;
    border-radius: 2px;
    position: relative;

    &.favorite {
      background-color: lighten($primaryColor, 30%);
      border: solid 1px $lightGray;
    }

    .tag-list-icon {
      color: $primaryColor;
      padding-left: 10px;
      font-size: 10px;
      vertical-align: middle;
    }
  }
}

.cursor {
    position: relative;
    text-decoration: underline;
    background-color: transparentize($linkColor, .8);

    @keyframes blinkingText{
        0% {   background-color: #fff;}
        49% {  background-color: $linkColor;}
        60% {  background-color: transparent;}
        99% {  background-color: transparent;}
        100% { background-color: #fff;}
    }

    &:after {
      content: ' ';
      width: 3px;
      position: absolute;
      right: -10px;
      bottom: 4px;
      top: 4px;
      background-color: #fff;
      animation:blinkingText 1.0s infinite;
      opacity: .7;
    }
}

.icon-list {
  text-align: center;

  &.icon-list-dark {
    background-color: $primaryColor;

    .icon-list-item {
      color: $primaryColor_light;
    }
  }

  &.icon-list-light {
    background-color: $primaryColor_light;

    .icon-list-item {
      color: $primaryColor;
    }
  }

  .icon-list-item {
    display: inline-block;
    margin: 24px;
    font-size: 60px;
  }
}

.test-list {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  align-items: center;

  li {
    padding: 50px;
    background-color: $darkGray;
    color: $white;
    text-align: center;

    svg {
      margin: 0 auto;
      display: block;
      font-size: 70px;
      margin-bottom: 12px;
    }
  }
}

.mobile,
.tablet {
  .highlight-logo {
    display: block;
    margin: 30px 0 12px;
    width: 150px;
  }

  .icon-list {
    padding: 20px 0;

    .icon-list-item {
      font-size: 30px;
      margin: 12px 20px;
    }
  }

  summary  {
    .project,
    .general {
      display: none;
    }
  }

  .tag-list {
    margin-top: 12px;
  }

  .employment-highlight__component {
    .vertical-align-middle {
      display: block;
    }

    p {
      text-align: justify;
    }
  }

  .employment-highlight__h3 {
    font-size: 16px;
    padding: 0;
  }

  h3 {
    font-size: 18px;
  }
}

.color-break {
  background-color: $primaryColor;
  color: $primaryColor_light;
  display: block;
  padding: 100px 12px;
  margin-top: 60px;
  text-align: center;
}
